<section class="section about-us">
        <div class="container">
                <div class="descr-wrapper">
                        <h2 class="section-title" id="about">About us</h2>
                        <ul class="descr">
                                <li class="descr-item descr-text-firstparagraph">
                                        <p class="descr-text">Welcome to our premium watch collection, where luxury and
                                                style meet functionality
                                                and precision. Our selection of timepieces embodies the very best in
                                                Swiss craftsmanship and
                                                engineering, ensuring that you'll always have a reliable and stylish
                                                accessory on your wrist.</p>
                                </li>
                                <li class="descr-item descr-text-secondparagraph">
                                        <p class="descr-text">At our premium watch collection, we believe that a watch
                                                is more than just a
                                                timekeeping device – it's a statement piece that reflects your
                                                personality and style. So why settle
                                                for anything less than the best? Browse our collection today and
                                                discover the perfect watch for you.
                                        </p>
                                </li>
                        </ul>
                </div>
                <div class="picture-wrapper">
                        <picture class="watch-picture">
                                <source srcset="/img/about-us/dsktp/gif.gif" media="(min-width: 1280px)" />
                                <source srcset="/img/about-us/tab/gif.gif" media="(min-width: 768px)" />
                                <source srcset="/img/about-us/mobile/gif.gif" media="(max-width: 767px)" />
                                <img class="watch-animation" src="/img/about-us/mobile/gif.gif" alt="watch" />
                        </picture>
                </div>
        </div>
</section>
