<section class="catalog section">
	<div class="container">
		<h2 id="catalog" class="section-title catalog-title">Catalog</h2>
		<ul class="catalog-list">
			<li class="catalog-card" data-id="01">
				<button type="button" class="card-btn">
					<svg class="icon"><use data-cart href="./img/sprite.svg#heart"></use></svg>
				</button>
				<a class="catalog-link" href="">
					<div class="thumb">
						<div class="thumb-image">
							<img class="watch-image" srcset="./img/dsktp/catalog/1-1x.png 1x, ./img/dsktp/catalog/1-2x.png 2x" src="./img/dsktp/catalog/1-1x.png" alt="Tube Watch" width="276">
						</div>
						<div class="thumb-overlay">
							<h3 class="overlay-title">Description</h3>
							<p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
							<h3 class="overlay-title">DETAILS & FEATUREStion</h3>
							<pre class="overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
							</pre>
						</div>
					</div>
					<div class="catalog-info">
						<h3 class="title-card">Tube Watch S42 Date Steel With Black Case</h3>
						<p class="price">€395</p>
					</div>
				</a>
			</li>
			<li class="catalog-card" data-id="02">
				<button type="button" class="card-btn">
					<svg class="icon"><use data-cart href="./img/sprite.svg#heart"></use></svg>
				</button>
				<a class="catalog-link" href="">
					<div class="thumb">
						<div class="thumb-image">
							<img class="watch-image" srcset="./img/dsktp/catalog/2-1x.png 1x, ./img/dsktp/catalog/2-2x.png 2x" src="./img/dsktp/catalog/2-1x.png" alt="Avondale Watch" width="276">
						</div>
						<div class="thumb-overlay">
							<h3 class="overlay-title">Description</h3>
							<p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
							<h3 class="overlay-title">DETAILS & FEATUREStion</h3>
							<pre class="overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
							</pre>
						</div>
					</div>
					<div class="catalog-info">
						<h3 class="title-card">Avondale Watch Police For Men</h3>
						<p class="price">€800</p>
					</div>
				</a>
			</li>
			<li class="catalog-card" data-id="03">
				<button type="button" class="card-btn">
					<svg class="icon"><use data-cart href="./img/sprite.svg#heart"></use></svg>
				</button>
				<a class="catalog-link" href="">
					<div class="thumb">
						<div class="thumb-image">
							<img class="watch-image" srcset="./img/dsktp/catalog/3-1x.png 1x, ./img/dsktp/catalog/3-2x.png 2x" src="./img/dsktp/catalog/3-1x.png" alt="Diver" width="276">
						</div>
						<div class="thumb-overlay">
							<h3 class="overlay-title">Description</h3>
							<p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
							<h3 class="overlay-title">DETAILS & FEATUREStion</h3>
							<pre class="overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
							</pre>
						</div>
					</div>
					<div class="catalog-info">
						<h3 class="title-card">Diver  300M Co‑Axial Master Chronometer Chronograph</h3>
						<p class="price">€600</p>
					</div>
				</a>
			</li>
			<li class="catalog-card" data-id="04">
				<button type="button" class="card-btn">
					<svg class="icon"><use data-cart href="./img/sprite.svg#heart"></use></svg>
				</button>
				<a class="catalog-link" href="">
					<div class="thumb">
						<div class="thumb-image">
							<img class="watch-image" srcset="./img/dsktp/catalog/4-1x.png 1x, ./img/dsktp/catalog/4-2x.png 2x" src="./img/dsktp/catalog/4-1x.png" alt="Diver" width="276">
						</div>
						<div class="thumb-overlay">
							<h3 class="overlay-title">Description</h3>
							<p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
							<h3 class="overlay-title">DETAILS & FEATUREStion</h3>
							<pre class="overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
							</pre>
						</div>
					</div>
					<div class="catalog-info">
						<h3 class="title-card">Diver 300M Co-Axial Master Chronometer </h3>
						<p class="price">€1400</p>
					</div>
				</a>
			</li>
			<li class="catalog-card" data-id="05">
				<button type="button" class="card-btn">
					<svg class="icon"><use data-cart href="./img/sprite.svg#heart"></use></svg>
				</button>
				<a class="catalog-link" href="">
					<div class="thumb">
						<div class="thumb-image">
							<img class="watch-image" srcset="./img/dsktp/catalog/5-1x.png 1x, ./img/dsktp/catalog/5-2x.png 2x" src="./img/dsktp/catalog/5-1x.png" alt="Taman Watch" width="276">
						</div>
						<div class="thumb-overlay">
							<h3 class="overlay-title">Description</h3>
							<p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
							<h3 class="overlay-title">DETAILS & FEATUREStion</h3>
							<pre class="overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
							</pre>
						</div>
					</div>
					<div class="catalog-info">
						<h3 class="title-card">Taman Watch By Police For Men</h3>
						<p class="price">€500</p>
					</div>
				</a>
			</li>
			<li class="catalog-card" data-id="06">
				<button type="button" class="card-btn">
					<svg class="icon"><use data-cart href="./img/sprite.svg#heart"></use></svg>
				</button>
				<a class="catalog-link" href="">
					<div class="thumb">
						<div class="thumb-image">
							<img class="watch-image" srcset="./img/dsktp/catalog/6-1x.png 1x, ./img/dsktp/catalog/6-2x.png 2x" src="./img/dsktp/catalog/6-1x.png" alt="Malawi Watch" width="276">
						</div>
						<div class="thumb-overlay">
							<h3 class="overlay-title">Description</h3>
							<p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
							<h3 class="overlay-title">DETAILS & FEATUREStion</h3>
							<pre class="overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
							</pre>
						</div>
					</div>
					<div class="catalog-info">
						<h3 class="title-card">Malawi Watch Police For Men</h3>
						<p class="price">€555</p>
					</div>
				</a>
			</li>
			<li class="catalog-card" data-id="07">
				<button type="button" class="card-btn">
					<svg class="icon"><use data-cart href="./img/sprite.svg#heart"></use></svg>
				</button>
				<a class="catalog-link" href="">
					<div class="thumb">
						<div class="thumb-image">
							<img class="watch-image" srcset="./img/dsktp/catalog/7-1x.png 1x, ./img/dsktp/catalog/7-2x.png 2x" src="./img/dsktp/catalog/7-1x.png" alt="Diver" width="276">
						</div>
						<div class="thumb-overlay">
							<h3 class="overlay-title">Description</h3>
							<p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
							<h3 class="overlay-title">DETAILS & FEATUREStion</h3>
							<pre class="overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
							</pre>
						</div>
					</div>
					<div class="catalog-info">
						<h3 class="title-card">Diver 300M Co-Axial Master Chronometer </h3>
						<p class="price">€1200</p>
					</div>
				</a>
			</li>
			<li class="catalog-card" data-id="08">
				<button type="button" class="card-btn">
					<svg class="icon"><use data-cart href="./img/sprite.svg#heart"></use></svg>
				</button>
				<a class="catalog-link" href="">
					<div class="thumb">
						<div class="thumb-image">
							<img class="watch-image" srcset="./img/dsktp/catalog/8-1x.png 1x, ./img/dsktp/catalog/8-2x.png 2x" src="./img/dsktp/catalog/8-1x.png" alt="Greenlane Watch" width="276">
						</div>
						<div class="thumb-overlay">
							<h3 class="overlay-title">Description</h3>
							<p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
							<h3 class="overlay-title">DETAILS & FEATUREStion</h3>
							<pre class="overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
							</pre>
						</div>
					</div>
					<div class="catalog-info">
						<h3 class="title-card">Greenlane Watch By Police For Men</h3>
						<p class="price">€1000</p>
					</div>
				</a>
			</li>
			<li class="catalog-card" data-id="09">
				<button type="button" class="card-btn">
					<svg class="icon"><use data-cart href="./img/sprite.svg#heart"></use></svg>
				</button>
				<a class="catalog-link" href="">
					<div class="thumb">
						<div class="thumb-image">
							<img class="watch-image" srcset="./img/dsktp/catalog/9-1x.png 1x, ./img/dsktp/catalog/9-2x.png 2x" src="./img/dsktp/catalog/9-1x.png" alt="Squardrc" width="276">
						</div>
						<div class="thumb-overlay">
							<h3 class="overlay-title">Description</h3>
							<p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
							<h3 class="overlay-title">DETAILS & FEATUREStion</h3>
							<pre class="overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
							</pre>
						</div>
					</div>
					<div class="catalog-info">
						<h3 class="title-card">Squardrc 5402 Chrono</h3>
						<p class="price">€359</p>
					</div>
				</a>
			</li>
			<li class="catalog-card" data-id="10">
				<button type="button" class="card-btn">
					<svg class="icon"><use data-cart href="./img/sprite.svg#heart"></use></svg>
				</button>
				<a class="catalog-link" href="">
					<div class="thumb">
						<div class="thumb-image">
							<img class="watch-image" srcset="./img/dsktp/catalog/10-1x.png 1x, ./img/dsktp/catalog/10-2x.png 2x" src="./img/dsktp/catalog/10-1x.png" alt="Diver" width="276">
						</div>
						<div class="thumb-overlay">
							<h3 class="overlay-title">Description</h3>
							<p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
							<h3 class="overlay-title">DETAILS & FEATUREStion</h3>
							<pre class="overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
							</pre>
						</div>
					</div>
					<div class="catalog-info">
						<h3 class="title-card">Diver  300M Co‑Axial Master Chronometer Chronograph</h3>
						<p class="price">€400</p>
					</div>
				</a>
			</li>
			<li class="catalog-card" data-id="11">
				<button type="button" class="card-btn">
					<svg class="icon"><use data-cart href="./img/sprite.svg#heart"></use></svg>
				</button>
				<a class="catalog-link" href="">
					<div class="thumb">
						<div class="thumb-image">
							<img class="watch-image" srcset="./img/dsktp/catalog/11-1x.png 1x, ./img/dsktp/catalog/11-2x.png 2x" src="./img/dsktp/catalog/11-1x.png" alt="Citizen" width="276">
						</div>
						<div class="thumb-overlay">
							<h3 class="overlay-title">Description</h3>
							<p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
							<h3 class="overlay-title">DETAILS & FEATUREStion</h3>
							<pre class="overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
							</pre>
						</div>
					</div>
					<div class="catalog-info">
						<h3 class="title-card">Citizen</h3>
						<p class="price">€519</p>
					</div>
				</a>
			</li>
			<li class="catalog-card" data-id="12">
				<button type="button" class="card-btn">
					<svg class="icon"><use data-cart href="./img/sprite.svg#heart"></use></svg>
				</button>
				<a class="catalog-link" href="">
					<div class="thumb">
						<div class="thumb-image">
							<img class="watch-image" srcset="./img/dsktp/catalog/12-1x.png 1x, ./img/dsktp/catalog/12-2x.png 2x" src="./img/dsktp/catalog/12-1x.png" alt="Armani Exchange" width="276">
						</div>
						<div class="thumb-overlay">
							<h3 class="overlay-title">Description</h3>
							<p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
							<h3 class="overlay-title">DETAILS & FEATUREStion</h3>
							<pre class="overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
							</pre>
						</div>
					</div>
					<div class="catalog-info">
						<h3 class="title-card">Armani Exchange</h3>
						<p class="price">€400</p>
					</div>
				</a>
			</li>
		</ul>
		<div class="box">
			<div class="styling">
				<button class="btn-buy" type="button" data-modal-open>Buy now</button>
					<span class="button-line button-line-top"></span>
					<span class="button-line button-line-right"></span>
					<span class="button-line button-line-bottom"></span>
					<span class="button-line button-line-left"></span>
			</div>
		</div>
	</div>
</section>
