<footer class="footer">

  <div class="footer-cont">

    <div class="footer-logo-block">
      <a href="./index.html" class="logo-link">
        <object class="footer-logo-svg" data="./img/logo.svg"></object>
      </a>

      <address class="footer-address">
        <ul class="footer-address-list">
          <li class="footer-addres-item">
            <a class="footer-addres-link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-addres-item">
            <a
              class="footer-addres-link"
              href="https://goo.gl/maps/9TpyUPrSjrsmvi7Q9"
              rel="noopener noreferer nofolow"
              >1678 S. Pioneer Road<br />
              Salt Lake City<br />
              UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>

    <ul class="footer-menu-list">
      <li class="footer-menu-item">
        <a class="footer-menu-link" href="#about">About us</a>
      </li>
      <li class="footer-menu-item">
        <a class="footer-menu-link" href="#catalog">Catalog</a>
      </li>
      <li class="footer-menu-item">
        <a class="footer-menu-link" href="#sale">Sale</a>
      </li>
    </ul>

    <ul class="footer-soc-list">
      <li class="footer-soc-item">
        <a
          href="https://www.facebook.com/"
          rel="noopener noreferer nofolow"
          target="_blank"
          class="footer-soc-link"
        >
          <svg class="footer-soc-svg">
            <use href="./img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a
          href="https://www.instagram.com/"
          rel="noopener noreferer nofolow"
          target="_blank"
          class="footer-soc-link"
        >
          <svg class="footer-soc-svg">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a
          href="https://www.youtube.com/"
          rel="noopener noreferer nofolow"
          target="_blank"
          class="footer-soc-link"
        >
          <svg class="footer-soc-svg">
            <use href="./img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <ul class="rights-list">
    <li class="rights-item">
      <p class="rights-text">©2022 The Watch Spot. All rights reserved.</p>
    </li>
    <div class="footer-rights-cont">
      <li class="rights-item">
        <p class="rights-text">Privacy Policy</p>
      </li>
      <li class="rights-item">
        <p class="rights-text">Terms of Service</p>
      </li>
    </div>
  </ul>
</footer>
