<!-- A -->
<header class="section__header">
  <div class="container container__header">
    <div class="header_navigation">
      <nav class="navigation">
        <a href="index.html" class="logo">
          <img src="./img/logo.svg" class="logo_img" alt="logo" />
          <span class="logo_text">thewatchspot</span>
        </a>
        <ul class="navigation_list">
          <li class="navigation_items">
            <a class="navigation_links scroll-to" href="#about">About us</a>
          </li>
          <li class="navigation_items">
            <a class="navigation_links scroll-to" href="#catalog">Catalog</a>
          </li>
          <li class="navigation_items">
            <a class="navigation_links scroll-to" href="#sale">Sale</a>
          </li>
        </ul>
      </nav>
      <address class="header_address stylized">
        <a class="address-link" href="tel:+380684439426">+380 (68) 443-94-26
			<span class="button__line button__line--top"></span>
			<span class="button__line button__line--right"></span>
			<span class="button__line button__line--bottom"></span>
			<span class="button__line button__line--left"></span>
		  </a>
      </address>
      <button
        class="button_burger js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="button_icon">
          <use href="./img/sprite.svg#burger"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu js-menu-container" id="mobile-menu">
      <div>
        <a href="index.html" class="logo logo_menu">
          <img src="./img/logo.svg" class="logo_img" alt="logo" />
          <span class="logo_text">thewatchspot</span>
        </a>
        <button class="close-button js-close-menu">
          <svg class="close-button_icon">
            <use href="./img/sprite.svg#cross"></use>
          </svg>
        </button>
      </div>
      <div class="mobile-navigation_container">
        <nav class="mobile-navigation">
          <ul class="mobile-navigation_list">
            <li class="mobile-navigation_items">
              <a class="mobile-navigation_links scroll-to" href="#about"
                >About us</a
              >
            </li>
            <li class="mobile-navigation_items">
              <a class="mobile-navigation_links scroll-to" href="#catalog"
                >Catalog</a
              >
            </li>
            <li class="mobile-navigation_items">
              <a class="mobile-navigation_links scroll-to" href="#sale">Sale</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
