<section class="hero">
    <div class="hero__wrapper container">
        <h1 class="hero__hdr">Welcome to our collection of premium watches</h1>
        <!-- carousel -->
        <div class="watch_deskr-wrapper">
            <div class="swiper watch-swiper">
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="
                            ./img/dsktp/carousel/1-1x.png 1x,
                            ./img/dsktp/carousel/1-2x.png 2x" media="(min-width: 1280px)" />

                            <source srcset="
                            ./img/tab/carousel/1-1x.png 1x,
                            ./img/tab/carousel/1-2x.png 2x"
                                media="(min-width: 768px) and (max-width: 1279px)" />

                            <source srcset="
                            ./img/mobile/carousel/1-1x.png 1x,
                            ./img/mobile/carousel/1-2x.png 2x" media="(min-width: 375px)">
                            <img class="swiper-slide__img" src="./img/mobile/carousel/1-1x.png" alt="watch 1"
                                width="226" height="190">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="
                            ./img/dsktp/carousel/2-1x.png 1x,
                            ./img/dsktp/carousel/2-2x.png 2x" media="(min-width: 1280px)" />

                            <source srcset="
                            ./img/tab/carousel/2-1x.png 1x,
                            ./img/tab/carousel/2-2x.png 2x"
                                media="(min-width: 768px) and (max-width: 1279px)" />

                            <source srcset="
                            ./img/mobile/carousel/2-1x.png 1x,
                            ./img/mobile/carousel/2-2x.png 2x" media="(min-width: 375px)">
                            <img class="swiper-slide__img" src="./img/mobile/carousel/2-1x.png" alt="watch 2"
                                width="226" height="190">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="
                            ./img/dsktp/carousel/3-1x.png 1x,
                            ./img/dsktp/carousel/3-2x.png 2x" media="(min-width: 1280px)" />

                            <source srcset="
                            ./img/tab/carousel/3-1x.png 1x,
                            ./img/tab/carousel/3-2x.png 2x"
                                media="(min-width: 768px) and (max-width: 1279px)" />

                            <source srcset="
                            ./img/mobile/carousel/3-1x.png 1x,
                            ./img/mobile/carousel/3-2x.png 2x" media="(min-width: 375px)">
                            <img class="swiper-slide__img" src="./img/mobile/carousel/3-1x.png" alt="watch 3"
                                width="226" height="190">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="
                            ./img/dsktp/carousel/4-1x.png 1x,
                            ./img/dsktp/carousel/4-2x.png 2x" media="(min-width: 1280px)" />

                            <source srcset="
                            ./img/tab/carousel/4-1x.png 1x,
                            ./img/tab/carousel/4-2x.png 2x"
                                media="(min-width: 768px) and (max-width: 1279px)" />

                            <source srcset="
                            ./img/mobile/carousel/4-1x.png 1x,
                            ./img/mobile/carousel/4-2x.png 2x" media="(min-width: 375px)">
                            <img class="swiper-slide__img" src="./img/mobile/carousel/4-1x.png" alt="watch 4"
                                width="226" height="190">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="
                            ./img/dsktp/carousel/5-1x.png 1x,
                            ./img/dsktp/carousel/5-2x.png 2x" media="(min-width: 1280px)" />

                            <source srcset="
                            ./img/tab/carousel/5-1x.png 1x,
                            ./img/tab/carousel/5-2x.png 2x"
                                media="(min-width: 768px) and (max-width: 1279px)" />

                            <source srcset="
                            ./img/mobile/carousel/5-1x.png 1x,
                            ./img/mobile/carousel/5-2x.png 2x" media="(min-width: 375px)">
                            <img class="swiper-slide__img" src="./img/mobile/carousel/5-1x.png" alt="watch 5"
                                width="226" height="190">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="carousel__number-of-watches">01
                <div class="dash"></div>
                05 </div>
            <p class="hero__dskr">Our watches are not just timepieces, but also an expression of your
                personality
                and lifestyle. From classic designs to
                modern ones, we have a watch to suit every taste and occasion.</p>
            </div>
        <picture>
            <source srcset="
                ./img/dsktp/hero/1-1x.jpg 1x,
                ./img/dsktp/hero/1-2x.jpg 2x" media="(min-width: 1280px)" />

            <source srcset="
                ./img/tab/hero/1-1x.jpg 1x,
                ./img/tab/hero/1-2x.jpg 2x" media="(min-width: 768px) and (max-width: 1279px)" />
            <source srcset="
                ./img/mobile/hero/1-1x.jpg 1x,
                ./img/mobile/hero/1-2x.jpg 2x" media="(min-width: 375px)"> 
                <img class="hero__img" src="./img/mobile/hero/1-1x.jpg" alt="waterproof watch" width="335" height="410">
        </picture>
   </div>
</section>
