<section class="novelty section">
  <div class="container">
    <h2 class="novelty__title">New watches</h2>
    <h3 class="novelty__suptitle">Green And Bronze—The Match Made In Heaven</h3>
    <ul class="novelty__list">
      <li class="novelty__item item01">
        <picture>
          <source
            srcset="
              ./img/new-watch/watch-on-hand-1x-desktop.jpg 1x,
              ./img/new-watch/watch-on-hand-2x-desktop.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/new-watch/watch-on-hand-1x-tablet.jpg 1x,
              ./img/new-watch/watch-on-hand-2x-tablet.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/new-watch/watch-on-hand-1x-mobile.jpg 1x,
              ./img/new-watch/watch-on-hand-2x-mobile.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/new-watch/watch-on-hand-2x-mobile.jpg" alt="watch" />
        </picture>
      </li>
      <li class="novelty__item item02">
        <picture>
          <source
            srcset="
              ./img/new-watch/watch-1x-desktop.jpg 1x,
              ./img/new-watch/watch-2x-desktop.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/new-watch/watch-1x-tablet.jpg 1x,
              ./img/new-watch/watch-2x-tablet.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/new-watch/watch-1x-mobile.jpg 1x,
              ./img/new-watch/watch-2x-mobile.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/new-watch/watch-2x-mobile.jpg" alt="watch" />
        </picture>
      </li>
    </ul>
  </div>
</section>
