<section class="section sale">
  <div class="container sale-container">
    <h2 class="section-title" id="sale">Sale</h2>
    <div class="sale-galary">
      <ul class="sale-galary-list">
        <li class="sale-galary-item">
          <img
            class="sale-galary-image current"
            src="./img/dsktp/sale/2-1x.png"
            alt="watch"
            srcset="./img/dsktp/sale/2-1x.png, ./img/dsktp/sale/2-2x.png"
          />
        </li>
        <li class="sale-galary-item">
          <img
            class="sale-galary-image"
            src="./img/dsktp/sale/3-1x.png"
            alt="watch"
            srcset="./img/dsktp/sale/3-1x.png, ./img/dsktp/sale/3-2x.png"
          />
        </li>
        <li class="sale-galary-item">
          <img
            class="sale-galary-image"
            src="./img/dsktp/sale/4-1x.png"
            alt="watch"
            srcset="./img/dsktp/sale/4-1x.png, ./img/dsktp/sale/4-2x.png"
          />
        </li>
        <li class="sale-galary-item">
          <img
            class="sale-galary-image"
            src="./img/dsktp/sale/5-1x.png"
            alt="watch"
            srcset="./img/dsktp/sale/5-1x.png, ./img/dsktp/sale/5-2x.png"
          />
        </li>
      </ul>
      <img
        class="sale-galary-pic"
        src="./img/dsktp/sale/1-1x.png"
        alt="big watch"
        srcset="./img/dsktp/sale/1-1x.png, ./img/dsktp/sale/1-2x.png"
      />
    </div>
    <div class="sale-selection">
      <div class="sale-selection-name">
        <h2 class="sale-selection-title">
          Greenlane Watch By Police For MenHT
        </h2>
        <p class="sale-selection-text">Product tag: PEWJK2227003</p>
        <p class="sale-selection-price">
          €700 <span class="sale-selection-discount">€1000</span>
        </p>
      </div>
      <div class="sale-selection-descr">
        <h4 class="sale-descr-title">DESCRIPTION</h4>
        <p class="sale-descr-text">
          Richly detailed with an understated design - the Police Men’s
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
      </div>
      <div class="sale-selection-details">
        <h4 class="sale-details-title">DETAILS & FEATURESTION</h4>
        <p class="sale-details-text">
          Gender: man <br />
          Size: 46x54.5mm <br />Case Colour: Steel<br />
          Band Material: Metal<br />
          Case Material: Metal<br />
          Features: Multifunction Water<br />
          Resistant: 5 (ATM)<br />
          Band Colour: Steel
        </p>
      </div>
    </div>
  </div>
</section>
