<section class="section sale"></section>
<div class="container">
  <h2 class="section-title">Sale</h2>
  <div class="sale-galary"></div>
  <div class="sale-descr">
    <h3 class="sale-top-title">Greenlane Watch By Police For MenHT</h3>
    <p class="sale-descr-text">Product tag: PEWJK2227003</p>
    <p class="sale-descr-price">€700 €1000</p>
    <ul class="sale-desc-list">
      <li class="sale-descr-item">
        <h4 class="sale-descr-title">Description</h4>
        <p class="sale-descr-text">
          Richly detailed with an understated design - the Police Men’s
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
      </li>
      <li class="sale-descr-item">
        <h4 class="sale-descr-title">DETAILS & FEATUREStion</h4>
        <p class="sale-descr-text">
          Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
          Case Material: Metal Features: Multifunction Water Resistant: 5 (ATM)
          Band Colour: Steel
        </p>
      </li>
    </ul>
  </div>
</div>
