<section class="section sale">
  <div class="container sale-container">
    <h2 class="section-title" id="sale">Sale</h2>
    <div class="sale-galary">
      <ul class="sale-galary-list">
        <li class="sale-galary-item">
          <picture>
            <source
              srcset="./img/dsktp/sale/2-1x.png, ./img/dsktp/sale/2-2x.png 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="./img/tab/sale/2-1x.png 1x, ./img/tab/sale/2-2x.png 2x"
              media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
              srcset="
                ./img/mobile/sale/2-1x.png 1x,
                ./img/mobile/sale/2-2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="sale-galary-image current"
              src="./img/mobile/sale/2-1x.png"
              alt="watch"
            />
          </picture>
        </li>
        <li class="sale-galary-item">
          <picture>
            <source
              srcset="./img/dsktp/sale/3-1x.png, ./img/dsktp/sale/3-2x.png 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="./img/tab/sale/3-1x.png 1x, ./img/tab/sale/3-2x.png 2x"
              media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
              srcset="
                ./img/mobile/sale/3-1x.png 1x,
                ./img/mobile/sale/3-2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="sale-galary-image"
              src="./img/mobile/sale/3-1x.png"
              alt="watch"
            />
          </picture>
        </li>

        <li class="sale-galary-item">
          <picture>
            <source
              srcset="./img/dsktp/sale/4-1x.png, ./img/dsktp/sale/4-2x.png 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="./img/tab/sale/4-1x.png 1x, ./img/tab/sale/4-2x.png 2x"
              media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
              srcset="
                ./img/mobile/sale/4-1x.png 1x,
                ./img/mobile/sale/4-2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="sale-galary-image"
              src="./img/mobile/sale/4-1x.png"
              alt="watch"
            />
          </picture>
        </li>
        <li class="sale-galary-item">
          <picture>
            <source
              srcset="./img/dsktp/sale/5-1x.png, ./img/dsktp/sale/5-2x.png 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="./img/tab/sale/5-1x.png 1x, ./img/tab/sale/5-2x.png 2x"
              media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
              srcset="
                ./img/mobile/sale/5-1x.png 1x,
                ./img/mobile/sale/5-2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="sale-galary-image"
              src="./img/mobile/sale/5-1x.png"
              alt="watch"
            />
          </picture>
        </li>
      </ul>
      <picture>
        <source
          srcset="./img/dsktp/sale/1-1x.png, ./img/dsktp/sale/1-2x.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="./img/tab/sale/1-1x.jpg 1x, ./img/tab/sale/1-2x.png 2x"
          media="(min-width: 768px) and (max-width: 1279px)"
        />

        <source
          srcset="./img/mobile/sale/1-1x.png 1x, ./img/mobile/sale/1-2x.png 2x"
          media="(max-width:767px)"
        />
        <img
          class="sale-galary-pic"
          src="./img/mobile/sale/1-1x.png"
          alt="watch"
          width="406"
        />
      </picture>
    </div>
    <div class="sale-selection">
      <div class="sale-selection-name">
        <h3 class="sale-selection-title">
          Greenlane Watch By Police For MenHT
        </h3>
        <p class="sale-selection-text">Product tag: PEWJK2227003</p>
        <p class="sale-selection-price">
          €700 <span class="sale-selection-discount">€1000</span>
        </p>
      </div>
      <div class="sale-selection-descr">
        <h4 class="sale-descr-title">DESCRIPTION</h4>
        <p class="sale-descr-text">
          Richly detailed with an understated design - the Police Men’s
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
      </div>
      <div class="sale-selection-details">
        <h4 class="sale-details-title">DETAILS & FEATURESTION</h4>
        <p class="sale-details-text">
          Gender: man <br />
          Size: 46x54.5mm <br />Case Colour: Steel<br />
          Band Material: Metal<br />
          Case Material: Metal<br />
          Features: Multifunction Water<br />
          Resistant: 5 (ATM)<br />
          Band Colour: Steel
        </p>
      </div>
    </div>
  </div>
</section>
