.descr-text {
    font-weight: 300;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.descr-item:not(:last-child)  {

}

.descr {
display: flex;
gap: 20px;
flex-direction: column;
}

.watch-animation {
width: 335px;
height: 365px;
object-fit: cover;
}

.picture-wrapper {
    
    margin-top: 40px;
}

.descr-item {
    width: 335px;
    gap: 20px;
}

.descr-wrapper {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {

    .descr {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
   
    }

    .descr-item {
       
    }

    .descr-item:not(:last-child)  {
       
    }

    .descr-wrapper {
        display: flex;
        flex-direction: row;
       
    }

    .descr-item {
        
    }
    .picture-wrapper {
       
    }

    .watch-animation {
    width: 704px;
    height: 465px;
    object-fit: cover;
    }

    .descr-text {
    
    }

    .descr-text-firstparagraph {
        width: 220px;
        height: 162px;
    }

    .descr-text-secondparagraph {
        width: 250px;
        height: 144px;
    }
 }
 