@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-weight: 300;
    src: url('../fonts/epilogue-v17-latin-300.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/epilogue-v17-latin-300.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* epilogue-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-weight: 400;
    src: url('../fonts/epilogue-v17-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/epilogue-v17-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-weight: 600;
    src: url('../fonts/epilogue-v17-latin-600.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/epilogue-v17-latin-600.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Neue Monteral';
    font-weight: 400;
    src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/NeueMontreal-Regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */


}
