.footer {
  background-color: var(--secondary-color);
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-cont {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo-svg {
  fill:#ffffff;
}

.logo-link {
  display: block;
  margin-bottom: 40px;
}

.footer-menu-text {
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-light-theme);
}

.footer-address {
  margin-bottom: 40px;
}
.footer-addres-item {
  margin-bottom: 20px;
}

.footer-addres-link {
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--color-light-theme);
}

.footer-menu-list {
  margin-left: 136px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-soc-list {
  display: flex;
  gap: 14px;
  margin-bottom: 80px;
}

.footer-soc-item {
  gap: 8px;
  isolation: isolate;

  width: 40px;
  height: 40px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.footer-soc-link {
  fill: var(--color-light-theme);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

.rights-text {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: var(--pale-color);
  opacity: 0.9;
}

.rights-list {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.footer-rights-cont {
  display: flex;
  gap: 14px;
}
