.header {
  background-color: var(--color-dark-theme);
}

.logo {
  color: var(--color-light-theme);
}

.logo_icon {
  width: 14px;
  height: 14px;
}

.logo_text {
  font-size: 12px;
  line-height: 1;
letter-spacing: -0.03em;
}

.navigaton_list {}

.navigation_items {}

.navigation_links {
  color: var(--color-light-theme);
}

.header_address {}

.address-link {
  color: var(--color-light-theme);
}