.header_container {
  background-color: var(--color-dark-theme);
  display: flex;
}

@media screen and (max-width: 767px) {
  .header_container {
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 80px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_img {
  width: 14px;
  height: 14px;
}

@media screen and (min-width: 768px) {
  .logo_img {
      width: 19px;
      height: 19px;
      margin-right: 4px;
    }
}

.logo_text {
  color: var(--color-light-theme);
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
}

@media screen and (min-width: 768px) {
  .logo_text {
    font-size: 15px;
  }
}

.navigaton_list {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigaton_list {
    display: flex;
    text-align: center;
    font-size: 9px;
    line-height: 1.33;
    text-transform: uppercase;
    gap: 40px;
  }
}

.navigation_items {}

.navigation_links {
  color: var(--color-light-theme);
  font-size: 9px;
  line-height: 1.33;
  text-transform: uppercase;
}

.header_address {
  display: none;
}

@media screen and (min-width: 768px) {
  .header_address {
      display: flex;
      margin-left: auto;
    }
}

.address_button {
  background-color: var(--secondary-color);
  font-size: 9px;
  line-height: 1.33;
  border: none;
  border-radius: 8px;
  text-align: center;
  padding: 18px 35px 18px 35px;
}

.address-link {
  color: var(--color-light-theme);
  font-size: 9px;
  line-height: 1.33;
}

.button_burger {
  fill: var(--color-light-theme);
  background-color: transparent;
  
  border: none;
}

@media screen and (min-width: 768px) {
  .button_burger {
      display: none;
    }
}

.button_icon {
  width: 24px;
  height: 24px;
}

.mobile-menu {
  background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 34px 20px;
    transform: translateX(100%);
    z-index: 100;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.logo_menu {
  
}

.close-button {
  position: absolute;
  top: 29px;
  right: 20px;
  width: 24px;
  height: 24px;
  stroke: var(--color-light-theme);
  background-color: transparent;
  border: none;
}

.close-button_icon {
  width: 24px;
  height: 24px;
}

.mobile-navigaton_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.mobile-navigation_links {
  color: var(--color-light-theme);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}