.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.swiper-button-next,
.swiper-button-prev {
    position: unset;
    margin: 0;
    padding: 0;
    display: unset;
    outline: none;
}

/* ============HERO============ */

.hero {
    background-color: var(--color-dark-theme);
}

.hero__wrapper {
    position: relative;
}

.hero__hdr {
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.04em;
    color: var(--color-light-theme);
    padding-top: 122px; 
}

.watch_deskr-wrapper {
    padding-top: 60px;
    position: relative;
}

.watch-swiper {
    max-width: 266px;
    height: 200px;
    margin-left: 0;
    background-color: var(--secondary-color);
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: var(--color-light-theme);
    font-size: 9px;
    position: absolute;
    top: 280px;
    left: 0;
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-light-theme);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev:after {
    left: 0;
    
}

.swiper-button-next:after {
    left: 44px;
    
}

.carousel__number-of-watches {
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--color-light-theme);
    text-align: end;
    margin-right: 68px;
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dash {
    width: 32px;
    height: 0px;
    border: 1px solid var(--color-light-theme);
    margin: 0 6px;
}

.hero__dskr {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--color-light-theme);
    padding: 40px 0 40px 87px;
}

.hero__img {
    padding-bottom: 40px;
}

@media screen and (min-width: 768px) {

    .hero__hdr {
        font-size: 60px;
        line-height: 1.03;
        max-width: 653px;
        padding-top: 148px;
    }

    .watch_deskr-wrapper {
        display: flex;
        /* flex-wrap: wrap; */
        align-items: center;
        /* gap: 0 20px; */
    }

    .watch-swiper {
        max-width: 436px;
        height: 255px;
        order: -1;
    }

    .swiper-slide__img {
        width: auto;
        height: auto;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        width: 40px;
        height: 40px;
        top: 335px;
    }

    .swiper-button-prev:after {
        left: 0;
        font-size: 12px;
        text-align: center;
    }

    .swiper-button-next:after {
        left: 52px;
        font-size: 12px;
        text-align: center;
    }

    .carousel__number-of-watches {
        margin: 0;
        position: absolute;
        top: 357px;
        right: 280px;
    }

    .hero__dskr {
        padding: 0;
        min-width: 248px;
        order: -1;
        margin-left: 20px;
    }

    .hero__img {
        width: 704px;
        padding: 100px 0 64px;
    }
}

@media screen and (min-width: 1280px) {

    .hero__hdr {
        max-width: 750px;
    }

    .watch_deskr-wrapper {
        padding: 122px 0 140px;
    }

    .hero__wrapper {
        position: relative;
    }

    .hero__dskr {
        position: absolute;
        top: -130px;
        right: 0;
        max-width: 282px;
    }

    .swiper-button-prev:after {
        top: 397px;
        left: 0;
    }

    .swiper-button-next:after {
        top: 397px;
        left: 52px;
    }

    .carousel__number-of-watches {
        right: unset;
        left: 354px;
        top: 419px;
    }

    .hero__img {
        max-width: 676px;
        position: absolute;
        top: 315px;
        right: 32px;
        padding: 0;
    }
}
