.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    transition: opacity var(--transition), visibility var(--transition);
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}
.modal {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-light-theme);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    overflow: auto;
    transition: transform var(--transition);
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
}
.modal-item-image {
    margin-bottom: 14px;
    padding: 25px 0;
}
.modal-item {
    width: 100%;
    max-width: 276px;
}
.modal-close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    border: none;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    transition: scale var(--transition);
}
.close-icon {
    stroke: black;
}
.modal-form {
    max-width: 368px;
    overflow: auto;
}
.modal-input-wrap {
    display: flex;
    flex-direction: column;
}
.modal-input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin-bottom: 12px;
}
.modal-input {
    width: 100%;
    height: 42px;
    border: 1px solid var(--light-color);
    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 18px;
    outline: transparent;
    transition: border-color var(--transition);
}
.modal-textarea {
    width: 100%;
    height: 170px;
    border: 1px solid var(--light-color);
    border-radius: 8px;
    padding: 12px 16px;
    resize: none;
    outline: transparent;
    margin-bottom: 20px;
transition: border-color var(--transition), outline var(--transition);
}
.modal-input:focus,
.modal-textarea:focus {
    border-color: var(--color-dark-theme); 
}
    #user-name:invalid,
    #user-email:invalid,
    #card-number:invalid {
    border-color: red;
}
.modal-input::placeholder {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--light-color);
}
.modal-submit {
    display: block;
    max-width: 368px;
    width: 100%;
    height: 50px;
    background: var(--secondary-color);
    border-radius: 8px;
    border: none;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-light-theme);
    margin-bottom: 12px;
}
.modal-agreement {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.4);
}
@media screen and (min-width: 768px) {
.modal {
    padding: 40px;
    flex-direction: row;
    align-items: normal;
    gap: 20px;
    justify-content: center;
}
.modal-input-label {
    font-size: 14px;
    line-height: 1.29;
}
.modal-input::placeholder {
    font-size: 16px;
    line-height: 1.12;
}
.modal-form,
.modal-submit {
    max-width: 368px;
    overflow: auto;
}
  }

  @media screen and (min-width: 1280px) {
.modal {
    max-width: 904px;
    max-height: 694px;
    gap: 40px;
    box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05), 0px 0px 130.6px rgba(0, 0, 0, 0.037963), 0px 0px 71.0296px rgba(0, 0, 0, 0.0303704), 0px 0px 36.2375px rgba(0, 0, 0, 0.025), 0px 0px 18.1704px rgba(0, 0, 0, 0.0196296), 0px 0px 8.77546px rgba(0, 0, 0, 0.012037);
    border-radius: 8px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
}
.modal-form,
.modal-submit {
    max-width: 508px;
}
.modal-input {
    margin-bottom: 20px;
}
.modal-textarea {
    margin-bottom: 40px;
}
.modal-submit {
    border: 1px solid transparent;
    transition: border var(--transition);
}
.modal-submit:is(:hover, :focus) {
    border: 1px solid var(--color-light-theme);
}
.modal-close:is(:hover, :focus) .close-icon {
    transform: scale(1.2);
}
.close-icon {
    transition: transform var(--transition);
}
  }
